/*Modifique o tamanho do h1 para 65 pixels;  */
/* Modifique a cor do texto do h1 para laranja; */
h1 {
    font-size: 65px;
    color: orange;
}

/* Modifique a cor de fundo da lista não ordenada; */
li {
    background-color: chocolate;
}
/* Crie uma classe para modificar a cor de fundo da tag p e da ul ao mesmo tempo. */

.background {
    background-color: brown;
}